version: "3.7"
services:
  postgres-latest:
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - ./pg:/docker-entrypoint-initdb.d/
    env_file:
      - ./docker-compose.env
